#pragma code_page(65001)
#include <windows.h>
#include "version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_FILEVERSION
 PRODUCTVERSION VER_PRODUCTVERSION
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "FileDescription", FILE_DESCRIPTION
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "InternalName", "FarColorer"
            VALUE "LegalCopyright", "(c) 1999-2009 Igor Russkih, (c) Aleksey Dobrunov 2009-2020"
            VALUE "OriginalFilename", "colorer.dll"
            VALUE "ProductName", "FarColorer library"
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 1200
    END
END