#include <windows.h>
#include "version.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
VS_VERSION_INFO VERSIONINFO
 FILEVERSION VER_FILEVERSION
 PRODUCTVERSION VER_PRODUCTVERSION
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041904b0"
        BEGIN
            VALUE "FileDescription", FILE_DESCRIPTION
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "InternalName", "FarColorer"
            VALUE "LegalCopyright", "© 1999-2009 Igor Russkih, © Aleksey Dobrunov 2009-2019"
            VALUE "OriginalFilename", "colorer.dll"
            VALUE "ProductName", "FarColorer library"
            VALUE "ProductVersion", VER_PRODUCTVERSION_STR
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x419, 1200
    END
END